
{% extends 'layouts/base.html' %}

{% block content %}

<h1>Tasks</h1>
    <h1>About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis tenetur saepe atque hic? Saepe debitis officiis blanditiis architecto harum quibusdam atque laudantium explicabo ut unde non voluptate veniam fugit, culpa in voluptatum nam laboriosam mollitia consectetur ullam quis illum quasi temporibus. Voluptates sit iusto nisi ipsum ipsa, expedita consequuntur fuga eius excepturi dolorum adipisci, eos nam illo, sint necessitatibus suscipit similique cupiditate! Et eveniet adipisci quis culpa architecto quam voluptates laboriosam unde itaque facilis nesciunt possimus dignissimos maiores repellat, est sint! Voluptatem qui soluta porro tempore eveniet earum ullam accusantium ipsum quia, nihil fugit enim obcaecati tenetur velit reprehenderit!</p>

    <h1>{{username}}</h1>

{% endblock %}


